.img{
  display:flex;
  justify-content:center;
    }
.h1{
     display:flex;
  justify-content:center;
  color:white;
    }
.one{
     display:flex;
  justify-content:center;
    }
.butt1{
    display:none;
    }
.win{
    text-align:center;
    color:white;
    }